* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: canada-type-gibson, sans-serif;

}

#root {
  height: 100%;
}

body {
  overflow: auto;
  padding-top: 80px;
}